# Node dependencies
node_modules/
package-lock.json

# VSCode settings (optional)
.vscode/


# WordPress files not in your theme (optional)
wp-content/uploads/
wp-content/plugins/
wp-content/upgrade/
wp-content/cache/


# Env files (if used)
.env
.env.*
