@use "sass:map";
@use "sass:math";

@font-face {
    font-family: "ProximaNova";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ProximaNova-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "ProximaNova";
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/ProximaNova-Black.woff2") format("woff2");
}

:root {
    --white: #fff;
    --white-50: rgba(255, 255, 255, 0.05);
    --white-100: rgba(255, 255, 255, 0.1);
    --black: #000;
    --black-50: rgba(0, 0, 0, 0.05);
    --black-100: rgba(0, 0, 0, 0.1);
    --black-200: rgba(0, 0, 0, 0.2);
    --black-600: rgba(0, 0, 0, 0.6);
    --green: #17a40b;
    --red: #ff0000;
    --blue: #1884d2;
    --yellow: #ffa800;

    /* THEME COLORS*/
    --cta: #F28055;
    --para: rgb(82, 87, 83);
    --para-100: rgb(82, 87, 83, 0.1);
    --para-200: rgb(82, 87, 83, 0.2);
    --para-600: rgb(82, 87, 83, 0.6);
    --primary: #487859;
    --light-primary: #B2C88B;
    --very-light-primary: #F0F4E8;
    --secondary: #F0E7DD;
    --light-secondary: #EADDCF;
    --title: #1D1F1E;
    --secondary-gradient: linear-gradient(180deg, #F0E7DD 18.27%, rgba(240, 231, 221, 0) 100%);
    --primary-gradient: linear-gradient(180deg, #F0F4E8 18.27%, rgba(240, 244, 232, 0) 100%);

    /* FONTS */
    --font-proxima: "ProximaNova", sans-serif;
    --font-mono: "Mona Sans", sans-serif;
}

$theme-color: (
    "white":var(--white),
    "black":var(--black),
    "black-100":var(--black-100),

);

@each $color, $value in $theme-color {
    .bg-#{$color} {
        background: #{$value} !important;
    }

    .hover-bg-#{$color} {
        &:hover {
            background: #{$value} !important;
        }
    }

    .text-#{$color} {
        color: #{$value} !important;
    }

    .hover-text-#{$color} {
        &:hover {
            color: #{$value} !important;
        }
    }

    .border-#{$color} {
        border: 1px solid #{$value} !important;
    }

    .border-b-#{$color} {
        border-bottom: 1px solid #{$value} !important;
    }

    .border-t-#{$color} {
        border-top: 1px solid #{$value} !important;
    }
}

$font-utilities: (
    "text-56": (min: 36px,
        max: 56px,
    ),
    "text-48": (min: 32px,
        max: 48px,
    ),
    "text-40": (min: 28px,
        max: 40px,
    ),
    "text-28": (min: 20px,
        max: 28px,
    ),
    "text-18": (min: 16px,
        max: 18px,
    ),
    "text-16": (min: 16px,
        max: 16px,
    ),
    "text-14": (min: 14px,
        max: 14px,
    ),
);

// Viewport settings
$min-vw: 375px;
$max-vw: 1440px; // 375px + 1065px = 1440px

// Helper function to remove units
@function strip-unit($value) {
    @return math.div($value, $value * 0 + 1);
}

@each $font-size, $sizes in $font-utilities {
    .#{$font-size} {
        $min-size: map.get($sizes, min);
        $max-size: map.get($sizes, max);

        font-size: clamp(#{$min-size},
            calc(#{$min-size} + (#{strip-unit($max-size)} - #{strip-unit($min-size)}) * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}),
            #{$max-size});
    }
}

.text-roboert {
    font-family: var(--font-RobertPro);
}

.text-helvatica {
    font-family: var(--font-helvetica);
}

.container {
    padding: 0 2rem;
}

.styled-list {
    ul {
        li {
            position: relative;
            padding-left: 2.4rem;

            &::after {
                content: "";
                position: absolute;
                top: 0.4rem;
                left: 0;
                width: 0.8rem;
                height: 0.8rem;
                background-color: var(--secondary);
                transform: rotate(45deg);
            }
        }
    }
}